<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CourseName</key>
		<string>语文</string>
		<key>LevelList</key>
		<array>
			<string>一年级上学期</string>
			<string>一年级下学期</string>
			<string>二年级上学期</string>
			<string>二年级下学期</string>
			<string>三年级上学期</string>
			<string>三年级下学期</string>
			<string>四年级上学期</string>
			<string>四年级下学期</string>
			<string>五年级上学期</string>
			<string>五年级下学期</string>
			<string>六年级上学期</string>
			<string>六年级下学期</string>
		</array>
	</dict>
	<dict>
		<key>CourseName</key>
		<string>数学</string>
		<key>LevelList</key>
		<array>
			<string>一年级上学期</string>
			<string>一年级下学期</string>
			<string>二年级上学期</string>
			<string>二年级下学期</string>
			<string>三年级上学期</string>
			<string>三年级下学期</string>
			<string>四年级上学期</string>
			<string>四年级下学期</string>
			<string>五年级上学期</string>
			<string>五年级下学期</string>
			<string>六年级上学期</string>
			<string>六年级下学期</string>
		</array>
	</dict>
	<dict>
		<key>CourseName</key>
		<string>英语</string>
		<key>LevelList</key>
		<array>
			<string>一年级上学期</string>
			<string>一年级下学期</string>
			<string>二年级上学期</string>
			<string>二年级下学期</string>
			<string>三年级上学期</string>
			<string>三年级下学期</string>
			<string>四年级上学期</string>
			<string>四年级下学期</string>
			<string>五年级上学期</string>
			<string>五年级下学期</string>
			<string>六年级上学期</string>
			<string>六年级下学期</string>
		</array>
	</dict>
	<dict>
		<key>CourseName</key>
		<string>美术</string>
		<key>LevelList</key>
		<array>
			<string>一年级上学期</string>
			<string>一年级下学期</string>
			<string>二年级上学期</string>
			<string>二年级下学期</string>
			<string>三年级上学期</string>
			<string>三年级下学期</string>
			<string>四年级上学期</string>
			<string>四年级下学期</string>
			<string>五年级上学期</string>
			<string>五年级下学期</string>
			<string>六年级上学期</string>
			<string>六年级下学期</string>
		</array>
	</dict>
	<dict>
		<key>CourseName</key>
		<string>音乐</string>
		<key>LevelList</key>
		<array>
			<string>一年级上学期</string>
			<string>一年级下学期</string>
			<string>二年级上学期</string>
			<string>二年级下学期</string>
			<string>三年级上学期</string>
			<string>三年级下学期</string>
			<string>四年级上学期</string>
			<string>四年级下学期</string>
			<string>五年级上学期</string>
			<string>五年级下学期</string>
			<string>六年级上学期</string>
			<string>六年级下学期</string>
		</array>
	</dict>
	<dict>
		<key>CourseName</key>
		<string>物理</string>
		<key>LevelList</key>
		<array>
			<string>五年级上学期</string>
			<string>五年级下学期</string>
			<string>六年级上学期</string>
			<string>六年级下学期</string>
		</array>
	</dict>
	<dict>
		<key>CourseName</key>
		<string>地理</string>
		<key>LevelList</key>
		<array>
			<string>五年级上学期</string>
			<string>五年级下学期</string>
			<string>六年级上学期</string>
			<string>六年级下学期</string>
		</array>
	</dict>
</array>
</plist>
