<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SchoolType</key>
		<string>小学</string>
		<key>Schools</key>
		<array>
			<dict>
				<key>SchoolName</key>
				<string>长宁一小</string>
				<key>New item</key>
				<array>
					<array>
						<string>一年1班</string>
						<string>一年2班</string>
						<string>一年3班</string>
						<string>一年4班</string>
						<string>一年5班</string>
					</array>
					<array>
						<string>二年1班</string>
						<string>二年2班</string>
						<string>二年3班</string>
						<string>二年4班</string>
						<string>二年5班</string>
					</array>
					<array>
						<string>三年1班</string>
						<string>三年2班</string>
						<string>三年3班</string>
					</array>
					<array>
						<string>四年1班</string>
						<string>四年2班</string>
						<string>四年3班</string>
					</array>
					<array>
						<string>五年1班</string>
						<string>五年2班</string>
						<string>五年3班</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>SchoolName</key>
				<string>长宁二小</string>
				<key>New item</key>
				<array>
					<array>
						<string>一年1班</string>
						<string>一年2班</string>
						<string>一年3班</string>
						<string>一年4班</string>
						<string>一年5班</string>
					</array>
					<array>
						<string>二年1班</string>
						<string>二年2班</string>
						<string>二年3班</string>
						<string>二年4班</string>
						<string>二年5班</string>
					</array>
					<array>
						<string>三年1班</string>
						<string>三年2班</string>
						<string>三年3班</string>
					</array>
					<array>
						<string>四年1班</string>
						<string>四年2班</string>
						<string>四年3班</string>
					</array>
					<array>
						<string>五年1班</string>
						<string>五年2班</string>
						<string>五年3班</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>SchoolName</key>
				<string>长宁三小</string>
				<key>New item</key>
				<array>
					<array>
						<string>一年1班</string>
						<string>一年2班</string>
						<string>一年3班</string>
						<string>一年4班</string>
						<string>一年5班</string>
					</array>
					<array>
						<string>二年1班</string>
						<string>二年2班</string>
						<string>二年3班</string>
						<string>二年4班</string>
						<string>二年5班</string>
					</array>
					<array>
						<string>三年1班</string>
						<string>三年2班</string>
						<string>三年3班</string>
					</array>
					<array>
						<string>四年1班</string>
						<string>四年2班</string>
						<string>四年3班</string>
					</array>
					<array>
						<string>五年1班</string>
						<string>五年2班</string>
						<string>五年3班</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>SchoolName</key>
				<string>杨浦一小</string>
				<key>New item</key>
				<array>
					<array>
						<string>一年1班</string>
						<string>一年2班</string>
						<string>一年3班</string>
						<string>一年4班</string>
						<string>一年5班</string>
					</array>
					<array>
						<string>二年1班</string>
						<string>二年2班</string>
						<string>二年3班</string>
						<string>二年4班</string>
						<string>二年5班</string>
					</array>
					<array>
						<string>三年1班</string>
						<string>三年2班</string>
						<string>三年3班</string>
					</array>
					<array>
						<string>四年1班</string>
						<string>四年2班</string>
						<string>四年3班</string>
					</array>
					<array>
						<string>五年1班</string>
						<string>五年2班</string>
						<string>五年3班</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>SchoolName</key>
				<string>杨浦五小</string>
				<key>New item</key>
				<array>
					<array>
						<string>一年1班</string>
						<string>一年2班</string>
						<string>一年3班</string>
						<string>一年4班</string>
						<string>一年5班</string>
					</array>
					<array>
						<string>二年1班</string>
						<string>二年2班</string>
						<string>二年3班</string>
						<string>二年4班</string>
						<string>二年5班</string>
					</array>
					<array>
						<string>三年1班</string>
						<string>三年2班</string>
						<string>三年3班</string>
					</array>
					<array>
						<string>四年1班</string>
						<string>四年2班</string>
						<string>四年3班</string>
					</array>
					<array>
						<string>五年1班</string>
						<string>五年2班</string>
						<string>五年3班</string>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SchoolType</key>
		<string>初中</string>
	</dict>
	<dict>
		<key>SchoolType</key>
		<string>高中</string>
	</dict>
</array>
</plist>
